section {
  padding: 5rem 9%;
}

.home {
  padding: 0;
}

.slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 7rem;
  display: inline;
  display: flex;
  align-items: center;
}

.content {
  width: 35rem;
}

.home span {
  font-size: 1.5rem;
  color: #f00;
}

.home h3 {
  font-size: 3rem;
  color: white;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 2rem;
  padding-right: 2.5rem;
  background: linear-gradient(130deg, #f00 93%, transparent 7%);
  color: white;
  cursor: pointer;
}

.home .btn:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 650px) {
  .home .slide {
    padding: 2rem;
  }
  .home span {
    font-size: 1.3rem;
    color: #f00;
  }

  .home h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
  }
}
